dataset*
__pycache__
measurement_free_quantum_classifier.egg-info
backup*
results/embeddings/class_prototypes
results/frames
prime_b.py
research_docs
# anything except a .pdf file and .tex file is to be ignored in 
paper_writeup/*/*
!paper_writeup/*/*.pdf
!paper_writeup/*/*.tex

#
Documents/*
!Documents/T*

context*
base_papers
*_word_part*.txt